
h1{
    color: rgba(38, 0, 255, 0.84);
    font-size: 50px;
    text-align: center;
}

img{
    display: block;
    border: 3px solid white;
    border-radius: 60%; 
    
}

.omg{
    background-color: black;
    text-align: center;
    padding-left: -50%;
    padding-right: 50%;
    
}

h1{
    background-color: black;
    padding-left: 12%;
    padding-right: 0%;
}


body{
    background-color: rgba(26, 184, 232, 0.604);
    padding-left: 0%;
    padding-right: 10%;
}

.pools {
    background-color: rgb(3, 4, 4);
    position: absolute;
    padding: 20px;
    left: 1%;
}

.header{
    
    text-align: center;
    padding: 20px;

    right: 20%;
}

p{
    color:rgb(47, 38, 74);
    font-size: 15px;
    padding-left: 19%;
    padding-right: 0%;
}

a{
    color:rgb(242, 242, 247);
    padding-left: 15%;
    padding-right:0 %;
    margin-left: -15%;
    margin-right: 0%
    
}

h2{
    color:rgb(17, 0, 255);
    font-size: 60px;
    margin: 20px;
    padding-right: 0%;
    padding-left: 22%    
}

h3{
    color:blue;
    font-size: 28px;
    padding-left: 19%;
    padding-right: 0%;
}

ul{
    color:rgb(4, 4, 27);
    padding-left: 20%;
    padding-right: 0%;
}


article{
    padding-top: 20%;
}

.moo{
    background-color: black;
    text-align: center;

}

.wrapper{
    display: inline-block;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    flex: 1 100%

}

.education{
    text-align: :left;
    margin:top
    
}

.experience{
    background: rgb(9, 143, 233);
  
}

.skills{
    background: rgb(14, 151, 236);
    text-align: left;
}

.aside {
    display:flex;
    padding-top: 0px;
    padding-bottom: 10px;
}

.experience, .skills {
    flex: 1;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .education  { flex: 3 0px; }
    .experience { order: 1; }
    .education  { order: 2; }
    .skills     { order: 3; }
    .moo        { order: 4; }
}

body {
    padding: 2em;
}











